# Import Useful Modules

In [80]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from time import gmtime, strftime
import time
import datetime
from collections import Counter
import pickle

from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

# Preprocessing
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# Embedder
from gensim.models import FastText, word2vec, doc2vec

# Classifier
from sklearn.svm import SVC
from sklearn.ensemble import GradientBoostingClassifier as GBC
from sklearn.linear_model import LogisticRegression as LR
from sklearn.ensemble import RandomForestClassifier as RFC
from sklearn.grid_search import GridSearchCV as GS
from sklearn.model_selection import validation_curve, learning_curve
from sklearn.decomposition import PCA
from sklearn.preprocessing import PolynomialFeatures as Poly

from keras.models import Sequential, load_model
from keras.layers import Dense, Activation, Dropout
from keras.utils import to_categorical

In [8]:
#Determine Model's File Location

version = "version_2"

# ---------------------------------------------------------------------------------------------------------------

# Import Model

In [9]:
from preprocessing_pipeline import preprocessing

In [10]:
with open("model/{}/word_embedder.pickle".format(version), "rb") as file:
    word_embedder = pickle.load(file)

## Check

#### Preprocessing

In [11]:
preprocessor=preprocessing(word_embedder.vector_size,word_embedder)
preprocessor

#### Word Embedding

In [12]:
word_embedder

# ---------------------------------------------------------------------------------------------------------------

# Read Data To Pandas Dataframe

In [13]:
large_data_for_classification=pd.read_csv("data/big.csv",header=None)
large_data_for_classification.dropna(axis=0,inplace=True)

In [14]:
large_data_for_classification.head()

               0                        1       2
0       hardware     KINGSTON+KVR1333D3N9  1510.0
1          musik  power+amplifier+wisdom+    62.0
2  outwear-motor       jas%20hujan%20anak   391.0
3         celana      Celana+bahan+formal   288.0
4       komputer         Preset+lightroom     1.0

### Preprocess Data

In [16]:
raw_category_mapper=pd.read_csv("category_mapping.csv",index_col=0)

category_mapper={}
for i in raw_category_mapper.index:
    category_mapper[raw_category_mapper["l2"][i]]=raw_category_mapper["l1"][i]

In [17]:
new_category=[category_mapper[value] for value in large_data_for_classification[0]]
large_data_for_classification[0]=new_category

In [21]:
large_data_for_classification.head()

                  0                        1       2
0          komputer     KINGSTON+KVR1333D3N9  1510.0
1  hobi_dan_koleksi  power+amplifier+wisdom+    62.0
2             motor       jas%20hujan%20anak   391.0
3    fashion_wanita      Celana+bahan+formal   288.0
4          komputer         Preset+lightroom     1.0

In [22]:
#preprocess product title to 100-dimensional vector
#and preprocess category name to integer label
large_embedded_data, large_label_encoder = preprocessor.preprocess_data(
    large_data_for_classification[1],
    large_data_for_classification[0],
)

In [23]:
large_embedded_data.head()

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,Labels
0,-0.036711,-0.336128,-0.161967,0.099742,-0.092715,0.196797,0.281012,-0.571889,0.054769,-0.252326,...,0.493046,0.427457,-0.021196,0.340428,-0.027172,-0.208955,0.118060,0.153254,0.065467,10
1,-0.151489,-1.193317,-0.412542,0.074164,-1.053800,0.283322,0.306509,-0.714775,-0.282685,-0.205421,...,1.560397,1.276572,-0.248248,0.154423,-0.181553,-0.448146,-0.126884,-0.248857,1.153092,6
2,-0.236827,-0.166503,-0.234478,0.278609,-0.010111,0.248139,0.202832,-0.236111,0.063634,-0.342770,...,-0.090241,0.113574,0.081810,0.114736,-0.101849,-0.024248,-0.114954,-0.040353,-0.044465,12
3,-0.053166,0.007892,-1.529572,1.458670,-0.734888,-0.503057,-0.532288,-0.022648,0.070379,-1.529616,...,1.294445,-0.273994,1.718030,0.060490,-1.941472,1.189055,-0.650072,-0.596036,0.285584,3
4,-0.162186,-0.530731,-0.356022,0.209101,-0.282881,0.324258,0.422291,-0.745394,-0.038498,-0.477472,...,0.860707,0.729105,-0.046928,0.239313,0.133619,-0.398247,0.280034,0.195425,0.424736,10

In [24]:
large_embedded_data["sum"]=large_embedded_data.drop(["Labels"],axis=1).sum(axis=1)

In [25]:
large_embedded_data=large_embedded_data.loc[large_embedded_data["sum"]!=0].drop("sum",axis=1)

In [26]:
large_embedded_data.shape

(391746, 101)

In [27]:
large_label_encoder

LabelEncoder()

In [54]:
# with open("model/{}/label_encoder.pickle".format(version), "wb") as file:
#     pickle.dump(large_label_encoder,file)

# ---------------------------------------------------------------------------------------------------------------

### Build Neural Network

In [28]:
data=large_embedded_data.copy()
sampled_embedded_data=data.sample(n=len(data))

In [29]:
nn_X_train,nn_X_test,nn_y_train,nn_y_test=train_test_split(sampled_embedded_data.drop("Labels",axis=1),to_categorical(sampled_embedded_data["Labels"]),test_size=0.2)

In [30]:
def accuracy(predicted,truth):
    result=[int(value) for value in np.array(predicted)==np.array(truth)]
    return sum(result)/len(result)

In [66]:
model = Sequential()
model.add(Dense(2000, input_shape=(100,), activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1500, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(20, activation='softmax'))

model.compile(optimizer='adam', loss='categorical_crossentropy')

In [75]:
history = model.fit(nn_X_train, nn_y_train,initial_epoch=4, epochs=5, batch_size=32, validation_data=(nn_X_test,nn_y_test), shuffle=True,verbose=1)

Train on 313396 samples, validate on 78350 samples
Epoch 5/5
313396/313396 [==============================] - 745s 2ms/step - loss: 0.9546 - val_loss: 0.9351

In [76]:
nn_y_truth=[np.argmax(value) for value in nn_y_test]
nn_y_pred=[np.argmax(value) for value in model.predict(nn_X_test)]
print("Validation Accuracy : {}".format(accuracy(nn_y_pred,nn_y_truth)))

Validation Accuracy : 0.7357498404594767

In [55]:
nn_y_truth=[np.argmax(value) for value in nn_y_train]
nn_y_pred=[np.argmax(value) for value in model.predict(nn_X_train)]
print("Train Accuracy : {}".format(accuracy(nn_y_pred,nn_y_truth)))

Train Accuracy : 0.6671080677481525

In [77]:
print(classification_report(nn_y_truth,nn_y_pred))

             precision    recall  f1-score   support

          0       0.59      0.50      0.54      3810
          1       0.76      0.54      0.63       824
          2       0.72      0.83      0.77      9436
          3       0.81      0.67      0.73      4667
          4       0.59      0.44      0.51       752
          5       0.88      0.91      0.89     10595
          6       0.64      0.74      0.69      9265
          7       0.46      0.34      0.39      1486
          8       0.86      0.80      0.83      2368
          9       0.59      0.48      0.53      1222
         10       0.76      0.82      0.79      5287
         11       0.74      0.68      0.70      3342
         12       0.83      0.84      0.84      8729
         13       0.75      0.64      0.70      5433
         14       0.76      0.47      0.59      1338
         15       0.76      0.56      0.65       710
         16       0.58      0.28      0.37       635
         17       0.58      0.68      0.63      5791
         18       0.74      0.74      0.74      2588
         19       0.48      0.35      0.40        72

avg / total       0.74      0.74      0.73     78350

# ---------------------------------------------------------------------------------------------------------------